body {
    background-color: lightgray;
    
}

h1 {
    color: navy;
}

h2 {
    color: darkred;
}

.blue {
    color: blue;
    font-size: 20px;
}

.green {
    color: green;
    font-size: 18px;
}
